<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
         
</head>
<body class="back">
<header th:insert="fragments.html :: nav"></header>


<div class="container">

    <div style="width:800px;margin-left: auto;margin-right: auto;margin-top:24px;margin-top: 50px; padding: 24px;">
    
        <div class="card">
        
            <div class="card-header">
					<div class="row" >
						<div class="col-10">
							<i class="fa fa-user" style="align: center;"> </i> SIGN IN
						</div>
					</div>
				</div>
            
            <div class="card-block" style="padding: 24px;">
                <form action="#" th:action="@{/user/saveUser}" method="post" th:object="${userDto}">
               			<div class="row form-group">
               				<div class="col-6">
	                            <input type="text" class="form-control" th:field="*{firstName}" placeholder="Enter firstname">
	                             <p style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
               				</div>
               				<div class="col-6">
	                             <input type="text" class="form-control" th:field="*{lastName}" placeholder="Enter lastname">
	                              <p style="color: red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
               				</div>
               			
               			</div>
               			<div class="row form-group">
               				<div class="col-6">
		                         <input type="email" class="form-control" th:field="*{email}" placeholder="Enter email">
		                         <p style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
               				</div>
               				<div class="col-6">
	                            <input type="number" class="form-control" th:field="*{phoneNumber}" placeholder="Enter phone number">
	                             <p style="color: red;" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/>
               				</div>
               			
               			</div>
               			<div class="row form-group">
               				<div class="col-6">
	                            <input type="password" class="form-control" th:field="*{password}" placeholder="Enter password">
	                            <p style="color: red;" th:if="${#fields.hasErrors('password')}" th:class="'error'" th:errors="*{password}"/>
               				</div>
               				<div class="col-6">
                            	<input type="password" class="form-control" th:field="*{passwordRepeat}" placeholder="Password repeat">
                                <p style="color: red;" th:if="${#fields.hasErrors('passwordRepeat')}" th:class="'error'" th:errors="*{passwordRepeat}"/>
               				</div>
               			</div>
                        <div class="form-actions" style="margin-top: 12px;">
							<div class="row">
								<div class="form-check col-10">
								</div>
								<div class="col-1 ml-4">
									<button type="submit" class="btn btn-sm btn-info">Sing In</button>
								</div>
							</div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>




<footer th:insert="fragments.html :: footer"></</footer>

</body>
</html>