<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body class="back">
<header th:insert="fragments.html :: nav"></header>


			<div class="banner">
<!-- 				<video autoplay muted loop> -->
<!-- 					<source src="/videos/aircraft-backround1.mp4" type="video/mp4"> -->
<!-- 				</video> -->
				<div class="content">
					<h1 sec:authorize="isAnonymous()">
						<i> WELCOME TO RESERVATION</i>
					</h1>
					<h1 sec:authorize="isAuthenticated()">
						<i> EXPLORE THE WORLD</i>
					</h1>
				</div>
			</div>
<footer th:insert="fragments.html :: footer"></</footer>
</body>
</html>